<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    CADASTRAR
    <small>Gerenciamento de cadastro</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a routerLink="">
        <i class="fa fa-dashboard"></i> Dashboard</a>
    </li>
    <li class="active">Cadastrar</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <a class="btn btn-app">

            <i class="fa fa-graduation-cap"></i>
            Cadastrar
            <br> Alunos
          </a>

          <a class="btn btn-app">
            <i class="fa fa-book"></i>
            Cadastrar
            <br> Cursos
          </a>
          <a class="btn btn-app">
            <i class="fa fa-users"></i>
            Cadastrar
            <br> Professores
          </a>
          <a class="btn btn-app">
            <i class="fa fa-university"></i>
            Cadastrar
            <br> Escolas
          </a>
          <a class="btn btn-app">
            <i class="fa fa-exchange"></i>
            Cadastrar
            <br> Tranferências
          </a>
          <a class="btn btn-app">
            <span class="badge bg-yellow">3</span>
            <i class="fa fa-hourglass-2 "></i>
            Cadastrar
            <br> Dependências
          </a>
          <a class="btn btn-app">
            <span class="badge bg-green">300</span>
            <i class="fa fa-barcode"></i>
            Cadastrar
            <br> Usuário
          </a>
          <a class="btn btn-app">
            <span class="badge bg-purple">891</span>
            <i class="fa fa-users"></i>
            Cadastrar
            <br> Histórico
          </a>
          <a class="btn btn-app">
            <span class="badge bg-teal">67</span>
            <i class="fa fa-inbox"></i>
            Cadastrar
            <br> Relatórios
          </a>
          <a class="btn btn-app">
            <span class="badge bg-aqua">12</span>
            <i class="fa fa-envelope"></i>
            Cadastrar
            <br> Disciplinas
          </a>
          <a class="btn btn-app">
            <span class="badge bg-red">531</span>
            <i class="fa fa-heart-o"></i>
            Cadastrar
            <br> Turmas
          </a>
        </div>
      </div>
      <div style='min-height: "600px"'></div>
    </div>
  </div>
</section>